body {
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
  color: #2e2f42;
  color: #434455;
  background-color: #ffffff;
}

.list {
  list-style-type: none;
}

.page-button {
  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.page-button:hover {
  background: #404bbf;
}

.page-button:focus {
  background-color: #404bbf;
}

.header-logotype {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #4d5ae5;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.header-logo {
  color: #2e2f42;
}

.menu-link {
  color: #2e2f42;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.menu-link:focus {
  color: #404bbf;
}

.menu-link:hover {
  color: #404bbf;
}

.contact-info {
  font-style: normal;
}

.contact-list-link {
  color: #434455;
  /* Body */
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.contact-list-link:hover {
  color: #404bbf;
}

.contact-list-link:focus {
  color: #404bbf;
}

.page {
  background: #2e2f42;
}

.page-slogan {
  color: #fff;
  text-align: center;
  /* Header 1 */
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
}

.benefits {
  background: #fff;
}

.benefits-title {
  color: #2e2f42;
}

.benefits-caption {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.benefits-text {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.gallery-item {
  background-color: #ffffff;
}

.gallery-caption {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  background-color: #ffffff;
}

.gallery-subtitle {
  color: #2e2f42;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  background-color: #ffffff;
}

.gallery-text {
  color: #434455;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  background-color: #ffffff;
}

.content {
  background: #fff;
}

.content-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.content-subtitle {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  background-color: #ffffff;
}

.content-text {
  color: #434455;
  /* Body */
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.page-footer {
  background: #2e2f42;
}

.footer-logotype {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #4d5ae5;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.footer-logo {
  color: #f4f4fd;
}

.footer-text {
  color: #f4f4fd;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
